
<%= show_error_for(movie) %>

<%= form_for movie do |f| %>
<p><%= f.label :title %></p>
<p><%= f.text_field :title %></p>
<p><%= f.label :description %></p>
<p><%= f.text_area :description %></p>
<p><%= f.label :movie_length %></p>
<p><%= f.text_field :movie_length %></p>
<p><%= f.label :director %></p>
<p><%= f.text_field :director %></p>
<p><%= f.label :rating %></p>
<p><%= f.text_field :rating %></p>
<%= f.submit %>
<% end %>

<%= link_to "Back", movies_path %>