<h1>Movie listing</h1>


<p>Title: <%= @movie.title %></p> <p><%=link_to "Edit Movie", edit_movie_path(@movie)%></p>
<%= link_to "Add a review", new_review_path %>
<p><%= link_to "Back", movies_path %>
<%= form_tag(movie_path(@movie), method: :delete) do %>
<%= submit_tag "Delete Movie" %>
<% end %></p>