<h1>Movie Profile</h1>


    <p>
	  <strong>Title:</strong>
	  <%= @movie.title %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @movie.description %>
	</p>

	<p>
	  <strong>Movie length:</strong>
	  <%= @movie.movie_length %>
	</p>

	<p>
	  <strong>Director:</strong>
	  <%= @movie.director %>
	</p>

	<p>
	  <strong>Rating:</strong>
	  <%= @movie.rating %>
	</p>


    <%= link_to 'Back', movies_path %> |
	<%= link_to 'Edit', edit_movie_path(@movie) %> |
	<%= form_tag(movie_path(@movie), method: :delete, ) do %>
	<%= submit_tag "Delete Movie" %>
	<% end %>


<h1>Reviews:</h1>

<div>
<% if @reviews.blank? %>
 <h3>There's no reviews for this movie. Would you like to add one?</h3>
	
<% else %>

 <% @reviews.each do |review| %>
	<p><strong>Rating:</strong></p>
	<p><%= review.rating %></p>
	<p><strong> Comment:</strong></p>
	<p><%= link_to review.comment, movie_review_path(@movie, review) %></p></p>
	

 <% end %>
<% end %>
<%=link_to "Write a review", new_movie_review_path(@movie) %> |
<%=link_to "All reviews", movie_reviews_path(@movie)%>
</div>