<%= show_error_for(review) %>

<%= form_for review do |f| %>

<p><%= f.label :comment %></p>
<p><%= f.text_area :comment %></p>

<p><%= f.label :rating %></p>
<p><%= f.text_field :rating %></p>

<p><%= f.hidden_field :movie_id %></p>

<%= f.submit %>
<% end %>

